<mat-card appearance="outlined">
  <mat-card-content>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam vitae voluptates autem sint repudiandae
      aliquam quo deserunt nobis reiciendis!
      Atque minima amet doloremque corrupti voluptatum nesciunt dolor nisi hic voluptas.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <p>
      KEZIMANA AIME ANGELO <br>
      August 17th, 2024
    </p>
    <div>
      <button mat-icon-button color="warn" type="button" (click)="deleteComment()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="primary" type="button">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
