<mat-card class="post-card" appearance="outlined">
  <mat-card-header class="post-detail-mat-card-header">
    <mat-card-title>
      <p>
        <a routerLink="/posts" class="primary">
          <mat-icon>arrow_back</mat-icon>
        </a>
      </p>
      <div>
        <button mat-icon-button color="warn" type="button" (click)="deletePost()">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary">
          <mat-icon>edit_square</mat-icon>
        </button>
      </div>
    </mat-card-title>
    <mat-card-subtitle>by {{ post?.author?.email }} <br>on {{ post?.publishedOn | date }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <section>
      <p>
        {{ post?.text }}
      </p>
      <ul class="gallery">
        <li><img width="768" height="576" src="data:image/jpeg;base64, {{ post?.imageCover }}" alt="{{ post?.text }}"
                 title="" loading="lazy"/></li>
        @for (photo of post?.photoPosts; track photo.id) {
          <li><img width="768" height="576" src="data:image/jpeg;base64, {{ photo.image }}" alt="{{ post?.text }}"
                   title="" loading="lazy"/></li>
        }
      </ul>
    </section>

    <section>
      <h2>Comments (3)</h2>

      <div class="form-post-comment">
        <mat-form-field appearance="outline">
          <mat-label>Add a comment</mat-label>
          <textarea matInput placeholder="Add a comment"></textarea>
        </mat-form-field>
        <button mat-flat-button color="primary">Send</button>
      </div>

      <div class="comments">
        <mat-card appearance="outlined">
          <mat-card-content>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam vitae voluptates autem sint repudiandae
              aliquam quo deserunt nobis reiciendis!
              Atque minima amet doloremque corrupti voluptatum nesciunt dolor nisi hic voluptas.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <p>
              KEZIMANA AIME ANGELO <br>
              August 17th, 2024
            </p>
            <div>
              <button mat-icon-button color="warn" type="button" (click)="deletePost()">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="primary" type="button">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card appearance="outlined">
          <mat-card-content>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam vitae voluptates autem sint repudiandae
              aliquam quo deserunt nobis reiciendis!
              Atque minima amet doloremque corrupti voluptatum nesciunt dolor nisi hic voluptas.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <p>
              KEZIMANA AIME ANGELO <br>
              August 17th, 2024
            </p>
            <div>
              <button mat-icon-button color="warn" type="button" (click)="deletePost()">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="primary" type="button">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card appearance="outlined">
          <mat-card-content>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam vitae voluptates autem sint repudiandae
              aliquam quo deserunt nobis reiciendis!
              Atque minima amet doloremque corrupti voluptatum nesciunt dolor nisi hic voluptas.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <p>
              KEZIMANA AIME ANGELO <br>
              August 17th, 2024
            </p>
            <div>
              <button mat-icon-button color="warn" type="button" (click)="deletePost()">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="primary" type="button">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </section>
  </mat-card-content>
</mat-card>
