<mat-card class="post-card" appearance="outlined">
  <mat-card-header class="post-detail-mat-card-header">
    <mat-card-title>
      <p>
        <a [routerLink]="previousUrl" class="primary">
          <mat-icon>arrow_back</mat-icon>
        </a>
      </p>
      <div>
        <button mat-icon-button color="warn" type="button" (click)="deletePost(post?.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="editPost(post?.id)">
          <mat-icon>edit_square</mat-icon>
        </button>
      </div>
    </mat-card-title>
    <mat-card-subtitle>by {{ post?.author?.email }} <br>on {{ post?.publishedOn | date:'MMM dd, yyyy HH:mm' }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <section>
      <p>
        {{ post?.text }}
      </p>
      <ul class="gallery">
        <li><img width="768" height="576" src="data:image/jpeg;base64, {{ post?.imageCover }}" alt="{{ post?.text }}"
                 title="" loading="lazy"/></li>
        @for (photo of post?.photoPosts; track photo.id) {
          <li><img width="768" height="576" src="data:image/jpeg;base64, {{ photo.image }}" alt="{{ post?.text }}"
                   title="" loading="lazy"/></li>
        }
      </ul>
    </section>

    <section>
      <app-comment [postId]="post?.id"/>
    </section>
  </mat-card-content>
</mat-card>
