<mat-card class="post-card" appearance="outlined">
  <mat-card-header class="post-detail-mat-card-header">
    <mat-card-title>
      <p>{{ "Title of the post adipisicing elit. Soluta repellendus quia facere quis architecto." }}</p>
      <div>
        <button mat-icon-button color="warn" type="button" (click)="deletePost()">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary">
          <mat-icon>edit_square</mat-icon>
        </button>
      </div>
    </mat-card-title>
    <mat-card-subtitle>by akezimana&#64;villagehealthworks.com <br>on February 19th, 2024</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <section>
      <p>
        {{
          "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta repellendus quia facere quis architecto. Dicta ullam mollitia tenetur molestias obcaecati, voluptatibus assumenda debitis. Odio distinctio perferendis nesciunt at. Fugit, id. " +
          "Aliquam quis vitae voluptatem mollitia, accusamus obcaecati odio voluptate est iusto nulla recusandae quidem tempore delectus ullam quo, impedit officiis, minus adipisci cumque voluptates optio laudantium. Aliquam dolorum ab pariatur!" +
          "Explicabo optio consequatur consectetur? Itaque dolorem impedit aspernatur velit, nam sunt. Expedita reprehenderit hic quibusdam provident accusamus itaque rerum recusandae adipisci molestiae, atque et dicta totam voluptas quis voluptatibus a!" +
          "Aperiam nulla voluptate, quo possimus ab eos minus optio veniam perferendis quaerat suscipit itaque beatae porro recusandae nihil quisquam magni accusantium illum cumque placeat ratione voluptatibus! Consequatur hic consequuntur placeat. "
        }}
      </p>
      <ul class="gallery">
        <li><img width="768" height="576" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt=""
                 title="" loading="lazy"/></li>
        <li><img width="768" height="576" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt=""
                 title="" loading="lazy"/></li>
      </ul>
    </section>

    <section>
      <h2>Comments (3)</h2>

      <div class="form-post-comment">
        <mat-form-field appearance="outline">
          <mat-label>Add a comment</mat-label>
          <textarea matInput placeholder="Add a comment"></textarea>
        </mat-form-field>
        <button mat-flat-button color="primary">Send</button>
      </div>

      <div class="comments">
        <mat-card appearance="outlined">
          <mat-card-content>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam vitae voluptates autem sint repudiandae
              aliquam quo deserunt nobis reiciendis!
              Atque minima amet doloremque corrupti voluptatum nesciunt dolor nisi hic voluptas.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <p>
              KEZIMANA AIME ANGELO <br>
              August 17th, 2024
            </p>
            <div>
              <button mat-icon-button color="warn" type="button" (click)="deletePost()">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="primary" type="button">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card appearance="outlined">
          <mat-card-content>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam vitae voluptates autem sint repudiandae
              aliquam quo deserunt nobis reiciendis!
              Atque minima amet doloremque corrupti voluptatum nesciunt dolor nisi hic voluptas.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <p>
              KEZIMANA AIME ANGELO <br>
              August 17th, 2024
            </p>
            <div>
              <button mat-icon-button color="warn" type="button" (click)="deletePost()">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="primary" type="button">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

        <mat-card appearance="outlined">
          <mat-card-content>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam vitae voluptates autem sint repudiandae
              aliquam quo deserunt nobis reiciendis!
              Atque minima amet doloremque corrupti voluptatum nesciunt dolor nisi hic voluptas.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <p>
              KEZIMANA AIME ANGELO <br>
              August 17th, 2024
            </p>
            <div>
              <button mat-icon-button color="warn" type="button" (click)="deletePost()">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="primary" type="button">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </section>
  </mat-card-content>
</mat-card>
