<ng-container>
  <mat-card class="post-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>--------------------------</mat-card-title>
    </mat-card-header>
    <img mat-card-image alt="loading ....">
    <mat-card-content>
      <p class="text-wrap">
        -------------------------------
      </p>
    </mat-card-content>
    <mat-card-actions>
    <span class="flex primary">
       ---------------
       <span>---</span>
    </span>
      <span>
      <button mat-icon-button type="button">---</button>
      <button mat-icon-button type="button">---</button>
    </span>
    </mat-card-actions>
    <mat-card-footer>
      ---- <br>---------------------
    </mat-card-footer>
  </mat-card>
</ng-container>
