h1 {
  margin: 0;
}

.list-item {
  padding-left: 0;
  padding-right: 0;
}

mat-sidenav mat-nav-list:nth-of-type(2) a {
  border-top: 1px solid #f2f2f2;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

mat-sidenav-container {
  background-image: url("../../../assets/vintage-typewriter-blogging.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

.custom-sidenav {
  background-color: #607d8b;

  * {
    color: white;
  }
}

h1 {
  padding: 0 1rem;
}

.content {
  margin: 1rem;
  flex: 1;
}

mat-sidenav {
  transition: width 0.3s ease;

  .entry {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
  }

}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.expanded {
  width: 250px;
}
